@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --header-height: 64px;
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    user-select: none;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
}
