---
import { SITE_TITLE } from "../constants";
import HeaderLink from "./HeaderLink.astro";
---

<header class="z-50 h-(--header-height) w-full py-2">
  <div
    class="mx-auto flex h-full w-full max-w-7xl items-center justify-between px-4"
  >
    <div class="flex-center aspect-square h-full">
      <img src="brand.png" alt="" class="aspect-square size-9" />
    </div>
    <nav class="flex h-full items-center gap-1 px-1 py-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
    <div></div>
  </div>
</header>
